@font-face {
  font-family: 'Reader Bold';
  src: url('../fonts/Reader-Bold.otf');
  src: url('../fonts/Reader-Bold.otf?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reader Medium';
  src: url('../fonts/Reader-Medium.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Reader Black';
  src: url('../fonts/Reader-Black.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Reader Regular';
  src: url('../fonts/Reader-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

body {
  background-color: transparent;
  font-family: 'Reader Regular';
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5;
  color: #171717;
}

label {
	color: #171717;
	font-weight: 300;
	font-size: 1.7rem;
}

td {
	border: 1px solid #dddddd;
}

input::placeholder {
	color: #a0a0a0 !important;
}

a:hover {
  cursor: pointer;
}

.label-required {
  after: '*';
  display: inline;
  color: #171717;
  font-size: 1.7rem;
}

.container-fluid {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

.invisible {
	opacity: 0;
}

/*.heycha-bg {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	background-image: url('/images/mobile-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}*/

/*@media (min-width: 1025px) {
  .heycha-bg {
  	background-image: url('/images/desktop-bg.jpg');
  	z-index: -1;
  	width: 100%;
	height: 100%;
	position: fixed;
  }
}*/

/*@media (max-width: 1024px) {
	.heycha-mobile-background {
		background-image: url('/images/mobile-bg.jpg');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}*/

.full-height {
  min-height: 100vh;
}

.page-header {
  /*margin: 40px 0 32px;*/
  /*margin: 58px 0 58px;*/
  margin: 0px;
  border-bottom: none;
}

.desktop-logo {
  display: none;
}

@media (min-width: 1025px) {
  .desktop-logo {
    display: block;
  }

  .mobile-logo {
    display: none;
  }
}

.title-panel {
	height: 400px;
	background-image: url('/images/mobile-title.jpg');
	background-position: center center;
	background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 1025px) {
  .title-panel {
    background-image: url('/images/desktop-title.jpg');
  }
}

/* floating button */
.free-logo {
	position: fixed;
    z-index: 20;
    right: 3%;
    top: 12%;
}
/* end floating button */

.panel {
	background-color: transparent;
	border-radius: 10px;
	margin-bottom: 0px;
	border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading.panel-custom-css {
	border: none;
  	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding : 0;
}

.panel-body {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.panel-color-background {
	background-color: transparent;
}

.form-control {
	background-color: transparent;
	border-color: #c64e8e;
	border-radius: 0px;
}

.custom-submit-btn {
	color: #fff;
	background-color: #c64e8e;
	border-color: #c64e8e;
	border-radius: 0;
}
.custom-submit-btn.btn-block {
	width: 50%;
    margin: auto;
    font-size: 1.5rem;
}

@media screen and (max-width: 576px){
	.custom-submit-btn.btn-block {
		font-size: 1.2rem;
	}

}

.disclaimer-text {
	font-size: 1.5rem;
	margin-bottom : 0;
}


@media screen and (max-width: 576px){
	.disclaimer-text {
		font-size: 1.2rem;
	}

}

.tnc-text label {
	font-size: 1.5rem;
	line-height: 1;
}

/*@media screen and (max-width: 576px){
	.tnc-text {
		padding-top : 20px;
	}

}*/

@media screen and (max-width: 768px){
	.tnc-text label {
		font-size: 1.5rem;
	}

}

@media screen and (max-width: 576px){
	.tnc-text label {
		font-size: 1.2rem;
	}

}

.tnc-text:hover {
	/*color: #542B2C;*/
}

/*#registration_form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}*/

@media screen and (max-width: 1920px){
	.custom-container{
		max-width: 800px;
	}
}

@media screen and (max-width: 768px){
	.custom-container {
		max-width: 700px;
	}
}

/*@media screen and (max-width: 576px){
	#registration_form {
		max-width: 300px;
	}
}*/


.help-block.label.label-danger {
	display: inline-block;
	margin-top: 3px;
	color: #fff;
	font-size: 12px;
}

.red-text {
	color: #c64e8e;
	text-align: center;
	font-weight : bold;
	font-size : 2.8rem;
	/*max-width: 500px;*/
    margin: 0 auto;
    padding: 30px 0;
}

@media screen and (max-width: 576px){
	.red-text {
	     font-size: 1.6rem;
	}
}

.section-title {
	font-weight: 500;
	font-size: 4.5rem;
}

/* floating button */

.floating-logo-btn {
  display: block;
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 9999;
}

.floating-logo-btn img {
  width: 100px;
}

@media screen and (max-width: 576px){
	.floating-logo-btn img {
	  width: 72px;
	}
}

/* page header */
.page-header .free-logo .free-sample-img {
  position: absolute;
  right: 5%;
  top: 45%;
  width: 70px;
}
/* end page header */

/* header nav bar */
.navbar {
  padding-top: 20px;
}
.navbar-fixed-top {
	border: none;
}
.navbar-header,
.navbar-nav {
	float: unset;
	text-align: center;
  	/*width: 320px;*/
  	margin: 0 auto !important;
    font-size: 1.9rem;
}

.navbar-nav>li {
    float: none;
    display: inline-flex;
	padding: 0 20px;
}

@media screen and (max-width: 576px){
	.navbar-header,
	.navbar-nav {
	     font-size: 1.8rem;
	}

	.navbar-nav>li {
		padding: 0px;
	}
}

.navbar-brand {
	float: unset;
	margin: auto;
}
.navbar-inverse {
	background-color: inherit;
  border: none;
}
.navbar-inverse .container-fluid {
	/* max-width: 1000px; */
  margin: auto;
}
.navbar-header {
	padding-top: 5px;
}
.navbar-header .navbar-brand .nav-logo {
	max-width: 250px;
}

@media screen and (max-width: 576px){
	.navbar-header .navbar-brand .nav-logo {
		max-width: 200px;
	}
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>li>a:hover{
	color: #c64e8e;
	/*background-color: #fff;*/
}
.navbar-inverse .navbar-nav>.active>a>span,
.navbar-inverse .navbar-nav>li>a:hover>span {
	border-bottom: 1px solid #c64e8e;
}
.navbar-inverse .navbar-nav>li>a>span {
	font-weight: 300;
	font-size: 2.5rem;
}

@media screen and (max-width: 576px){
	.navbar-inverse .navbar-nav>li>a>span {
		font-size: 1.4rem;
	}

}

.page-header .nav.navbar-nav {
	position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-container {
	position: relative;
	height: 60px;
    width: 100%;
}
.nav>li>a {
	/*padding-bottom: 2px;*/
}
/* end header nav bar */

/* background items */
.bg-item {
	position: absolute;
	width: 100vw;
	height: 100%;
}
.animate_item {
	position: absolute;
	max-width: 250px;
	z-index: 1;
}
.top_left {
	top: 0;
	left: 0;
}
.top_right {
	top: 0;
	right: 0;
}
.top {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.bottom_left {
	bottom: 0;
	left: 0;
}
.bottom_right {
	bottom: 0;
	right: 0;
}
.bottom {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
/*.left {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.right {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}*/
.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.center_full {
	bottom: 0;
	left: 0;
}
.animate_item.center_full {
	max-width: 100vw;
}
/* end background items */

/* top section */
#top-section {
	background-image: url('/images/swl/White-Lucent-Microsite_Bg1.jpg');
	background-size: cover;
	/*background-position: right center;*/
	position: relative;
}

@media screen and (max-width: 576px){
	#top-section {
		background-size: cover;
    	background-position: right center;
	}
}

#top-section .row {
	/*max-width: 1000px;*/
	margin: auto;
	position: relative;
	z-index: 10;
	/*background-color: red;*/
}
#top-section .content-container {
	text-align: center;
	height: 100%
}
#top-section .content-container h1 {
	font-weight: 400;
}
#top-section .product-container {
	text-align: center;
}
#top-section .content-inner {
	margin-top: 150px;
	padding-bottom: 30px;
}
#top-section .bg-item .bottom_left {
	bottom: -35%;
    max-width: 600px;
    left: -10%;
}
.product-container .product-img {
	max-width: 600px;
	width: 100%;
	margin: auto;
}
/* end top section */

/* video section */
#video-section {
	background-image: url('/images/swl/White-Lucent-Microsite_Bg2.jpg');
	background-size: 100% auto;
    /*background-position: center bottom;*/
	padding-top: 30px;
	position: relative;
	background-repeat: no-repeat;
}
#video-section .row {
	max-width: 1000px;
	margin: auto;
	position: relative;
	z-index: 10;
}
#video-section .bg-item .top_right {
	max-width: 450px;
}
#video-section .section-title {
	text-align: center;
}
#video-section .normal-text {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 80px;
	max-width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 1920px){
	#video-section .normal-text {
		max-width: 800px;
	}
}

@media screen and (max-width: 768px){
	#video-section .normal-text {
		max-width: 600px;
	}
}

@media screen and (max-width: 576px){
	#video-section .normal-text {
		max-width: 300px;
		font-size:1.1rem;
		padding: 0 15px;
	}
}

#video-section .video-container {
	background-color: black;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
	margin: auto;
}
#video-section .video-container iframe,
#video-section .video-container object,
#video-section .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* end video section */

/* slider section */
.slider-section {
	background-image: url('/images/swl/White-Lucent-Microsite_Bg3.jpg');
	background-size: cover;
    background-position: center bottom;
	/*padding-top: 80px;*/
	padding-bottom: 20px;
}
.slider-section .row {
	position: relative;
	z-index: 10;
}
.slider-section .container {
	width: 100%;
	margin-bottom: 150px;
}

/*.slider-section .section-title {
	margin-bottom: 80px;
	text-align: center;
}*/
.slider-section .carousel-content {
	text-align: center;
}
/*.slider-section .carousel-content .carousel-title {
	font-weight: 500;
	font-size: 2.2rem;
}*/
.slider-section .carousel-content .carousel-title {
	font-family: 'Reader Regular';
	font-weight : 200;
	font-size : 1.8rem;
}

@media screen and (max-width: 576px){
	.slider-section .carousel-content .carousel-title {
	    font-size : 1.5rem;
	    padding : 0;
	}

}

.slider-section .carousel-product {
	text-align: center;
}
/*.slider-section .carousel-product .carousel-product-img {
	max-width: 80%;
}*/
/* end slider section */

/* form section */
/*.form-section {
	background-image: url('/images/swl/4th-section.jpg');
	background-size: cover;
	background-position: center;
	padding-bottom: 50px;
	position: relative;
}*/
.form-section .panel-heading,
.form-section .panel-heading h2,
.form-section .panel-heading h3 {
	font-weight: 300;
}

.form-section .panel-heading h2 {
	font-size: 2rem;
}

/*@media screen and (max-width: 768px){
	.form-section .panel-heading h2 {
		font-size: 2rem;
	}
}
*/


@media screen and (max-width: 576px){
	.form-section .panel-heading h2 {
		font-size: 1.5rem;
	}
}

.form-section .panel-heading h3 {
	font-size: 2.2rem;
}
.form-section .panel-default>.panel-heading {
	background-color: transparent;
}
.form-section .bg-item .top_left {
	max-width: 450px;
    top: -30%;
}
.form-section .bg-item .top_right {
	max-width: 350px;
    top: -20%;
}
#registration_form {
	position: relative;
	z-index: 10;
	/*padding-bottom: 50px;*/
}

@media screen and (max-width: 1920px){
	#registration_form {
		max-width: 75%;
    	margin: 0 auto;
	}
}

@media screen and (max-width: 768px){
	#registration_form {
		max-width: 100%;
	}


}

/* end form section */

/** Carousel slider **/
.col-centered {
    float: none;
    margin: 0 auto;
}
/*.carousel-control {
    width: 8%;
    width: 0px;
}*/
.carousel-control.left,
.carousel-control.right {
    /*margin-right: 40px;
    margin-left: 32px;*/
    background-image: none;
    opacity: 1;
    text-align: right;
}

.carousel-control.left{
	text-align: left;
}

/*.carousel-control{
	width : 10%;
}*/

.carousel-control > a > span {
    color: black;
	font-size: 5rem !important;
	margin-top: 400%;
}
.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
}
 .glyphicon-chevron-left:before {
 	color: #171717;
 }
.glyphicon-chevron-right:before {
	color: #171717;
}
.active > div { display:none; }
.active > div:first-child { display:block; }

/*xs*/
/*@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}*/

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
 /* .carousel-col                { width: 33%; }*/
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  /*.carousel-col                { width: 33%; }*/
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right{ left:  33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  /*.carousel-col                { width: 33%; }*/
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	/*.active > div:first-child + div + div + div { display:block; }*/
}
.block {
	width: 306px;
	height: 230px;
}
.red {background: red;}
.blue {background: blue;}
.green {background: green;}
.yellow {background: yellow;}
.middle { opacity: 1; }
.item .carousel-col { opacity: 1; }
.item .carousel-col .carousel-content { opacity: 0; }
.item .carousel-col .carousel-content.active { opacity: 1; }
.item .carousel-col.middle,
.item .carousel-col.middle .carousel-content {
	opacity: 1;
}
/* end carousel slider */

/* footer */
.page-footer {
	background: #FBE8EB;
	padding: 40px 20px;
	color: #171717;
	font-size: 1.5rem;
	margin-top: -15px;
}

@media screen and (max-width: 576px){
	.page-footer {
		padding: 20px;
	}
}

@media screen and (max-width: 576px){
	.page-footer {
		font-size : 1rem;
	}

}

.page-footer a {
	text-decoration: none;
	color: inherit;
}
.page-footer a:hover {
	color: #171717;
}
.page-footer .footer-logo-img {
	width: 100%;
    max-width: 18px;
}
.footer-copyright {
	float: right;
}
.footer-links-subsection {
	float: left;
}
.footer-links-subsection ul {
	list-style-type: none;
	display: -webkit-inline-box;
}
.footer-link {
	margin: 0px 15px;
}
/* end footer */

@media (max-width: 1100px) {
	/* animate items */
	#top-section .bg-item .bottom_left {
		max-width: 500px;
	}
	#video-section .bg-item .top_right {
		max-width: 350px;
	}
	.form-section .bg-item .top_left {
		max-width: 350px;
	}
	.form-section .bg-item .top_right {
		max-width: 250px;
	}
	/* end animate items */
}

@media (max-width: 1000px) {
	.page-header .free-logo .free-sample-img {
		position: absolute;
    	right: 15%;
    	top: 45%;
    	width: 70px;
	}
}

@media (max-width: 991px) {
	#top-section .content-inner {
		margin-top: 30px;
	}
	/* animate items */
	#top-section .bg-item .bottom_left {
		max-width: 400px;
		bottom: -20%;
	}
	#video-section .bg-item .top_right {
		max-width: 300px;
	}
	.form-section .bg-item .top_left {
		max-width: 300px;
	}
	.form-section .bg-item .top_right {
		max-width: 200px;
	}
	/* end animate items */
}

@media (max-width: 890px) {
	/* footer */
	.footer-copyright, .footer-links-subsection {
		display: block;
	    text-align: center;
	    width: 100%;
	    padding-top: 15px;
	}
	.footer-links-subsection ul {
		display: block;
		padding: 0px;
	}
	.footer-link {
		margin: 10px 15px;
	}
	/* end footer */
}

@media (max-width: 767px) {
	.nav>li {
		display: inline-block;
	}
	.item .carousel-col,
	.item .carousel-col .carousel-content { opacity: 1; }
	.item .carousel-col {
		width: 100%;
	}
	.slider-section .carousel-product .carousel-product-img {
		width: 70%;
	}
}

@media (max-width: 693px) {
	body {
		font-size: 1.7rem;
	}
	#top-section .content-container h1 {
		font-size: 3.2rem;
	}
	.section-title {
		font-size: 1.8rem;
	}
	/*.slider-section .carousel-content .carousel-title {
		font-size: 1.9rem;
	}*/
	.page-header .nav.navbar-nav {
		width: 100%;
	}
}

@media (max-width: 650px) {
	/* animate items */
	#top-section .bg-item .bottom_left {
		max-width: 350px;
		bottom: -20%;
	}
	#video-section .bg-item .top_right {
		max-width: 250px;
	}
	.form-section .bg-item .top_left {
		max-width: 250px;
	}
	.form-section .bg-item .top_right {
		max-width: 200px;
	}
	/* end animate items */
}

@media (max-width: 600px) {
	.page-header .free-logo .free-sample-img {
	    /*right: 0%;
	    top: 60%;*/
	    width: 50px;
	}
}

@media (max-width: 560px) {
	.page-header .nav.navbar-nav {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.slider-section .carousel-product .carousel-product-img {
		/*width: 100%;*/
		margin :0 auto;
	}

	/* animate items */
	#top-section .bg-item .bottom_left {
		max-width: 300px;
		bottom: -20%;
	}
	#video-section .bg-item .top_right {
		max-width: 250px;
	}
	.form-section .bg-item .top_left {
		max-width: 150px;
		top: -10%;
	}
	.form-section .bg-item .top_right {
		max-width: 100px;
		top: -5%;
	}
	/* end animate items */
}

@media (max-width: 400px) {
	.nav>li>a {
		padding: 10px 10px;
	}
}

@media (max-width: 350px) {
	.page-header .free-logo .free-sample-img {
    	/*top: 65%;*/
    	width: 40px;
	}

}

/* Thank You Page */

.full-height {
  background-color: #fdf7fa;
  position: relative;
}

.thank-you-logo {
  width: 160px;
  margin-top: 100px;
}

.dear-name {
  color: #c64e8e;
  font-size: 32px;
}

.btn-share {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border: solid 1px #c64e8e;
  border-radius: 50%;
  padding: 10px;
  background-color: #c64e8e;
  color: #fff;
}

.btn-share:focus,
.btn-share:hover {
  background-color: #fff;
  color: #c64e8e;
}


.video-desc, .product-desc{
	display: inline-block;
}



.label-required{
	font-size : 1.5rem;
}

/*@media screen and (max-width: 768px){
	.label-required{
		font-size : 1.8rem;
	}

}*/

@media screen and (max-width: 576px){
	.label-required{
		font-size : 1.2rem;
	}

}

option{
	font-size : 1.5rem;
}

.checkbox{
	margin: 10px auto;
}

.product-img-ul{
	list-style: none;
	display: inline-flex;
}

.product-title{
	text-transform: uppercase;
}

.product-text{
	text-align: center;
}

.carousel-text{
	font-size : 1.5rem;
}

@media screen and (max-width: 576px){
	.carousel-text{
		font-size : 1rem;
		padding : 0 10px;
		font-family : 'Reader Medium';
		/*font-weight: 500;*/
	}

}






.mobile-banner{
	padding : 0;
	width : 100%;
}

ul{
	margin-bottom: 0;
}

.slider-container{
	max-height : 550px;
}

@media screen and (max-width: 375px){
	.slider-container{
		max-height : 450px;
	}

}

@media screen and (max-width: 320px){
	.slider-container{
		max-height : 500px;
	}

}

.p-0{
	padding : 0;
}

.lucent-title{
	padding-top:20px;
}

h2{
	margin-top : 10px;
	margin-bottom : 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color :black;
}

.owl-next{
	float:right;
}

.owl-carousel .owl-stage{
	margin : 0 auto;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
	    font-size: 4rem;
}

.owl-nav{
	position: absolute;
    width: 100%;
    bottom: 350px;
}



@media screen and (max-width: 576px){
	.owl-nav{
		bottom: 170px;
	}

}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}

.owl-carousel .owl-item img{
	width : 90%;
	margin:0 auto;
	/*padding:10%;*/
}

.img-banner{
	margin : 0 auto;
}

.banner-section{
	padding-bottom:20px;
}

@media screen and (max-width: 576px){
	.navbar {
		margin-bottom : 0;
	}
	.mobile-banner-section{
		padding :0;
	}

}

.submit-section{
	padding: 20px;
	margin-bottom: 15px;
}
@media screen and (max-width: 576px){
	.submit-section{
		padding: 10px;
		margin-bottom: 0px;
	}
}

.agree-text{
	display: inline-block;
}

.modal-body{
	word-break: break-word;
}

.modal-body, .modal-body p {
    font-size: 1.4rem !important;
}

/*.product1{
	padding : 10%;
}
*/
/*.img-product{
	display :inline;
}*/
/*
*{
	border : 1px solid red;
}*/