.pr-custom{
	padding-right: 50px;
}
.sunsquad-inner-section{
	max-width: 75%;
    margin: 0 auto;
    padding-bottom: 50px;
    width: fit-content;
}
.sunsquad-section h2{
	text-align: center;
	font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 25px;
}
.sunsquad-section .sunsquad-details-section{
	min-height: 170px;
	overflow: hidden;
}
.sunsquad-icon{
	position: relative;
}
.sunsquad-location, .sunsquad-date, .sunsquad-time{
	padding-bottom: 10px;
	position: relative;
	display: flex;
}
.sunsquad-location i{
	font-weight: 900;
	font-size: 2.5rem;
	float: left;
	padding-right: 15px;
}
.sunsquad-location span{
	position: relative;
    float: left;
}
.sunsquad-details{
	padding-left: 25px;
    padding-top: 10px;
    width: 100%;
}
.sunsquad-date{
	font-weight: 900;
	font-family: "Reader Medium";
}
.sunsquad-icon:after {
    content: "";
    background-image: url('../images/new_images/GSC_dot.png');
	background-position: center;
    background-size: 10px;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: -5px;
    bottom: -23px;
}
.sunsquad-icon img{
	width: 80%;
}
.sunsquad-special-appearance{
	padding-bottom: 25px;
}
.sunsquad-appearance-title{
    padding-bottom: 5px;
    font-size: 1.5rem;
}
.sunsquad-appearance-img p{
    padding-top: 10px;
    font-size: 1.5rem;
}
a#video-next span, a#video-back span{
	background-color: #6e9cd0;
    padding: 6px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
a#video-next{
    right: -15%;
    background: transparent;
    opacity: 1;
}
a#video-back{
	left: -15%;
    background: transparent;
    opacity: 1;
}
a#video-next:hover, a#video-back:hover{
	opacity: 0.5;
}
.sunsquad-notice{
	padding-left: 20px;
	padding-top: 15px;
    width: 100%;
}
@media screen and (max-width: 1200px){
	a#video-back{
		left: -10px;
	}
	a#video-next{
		right: -10px;
	}
}
@media screen and (max-width: 991px){
	.pr-custom{
		padding-right: 25px;
	}
}
@media screen and (max-width: 768px){
	.sunsquad-inner-section{
		max-width: 100%;
	}
}
@media screen and (max-width: 576px){
	a#video-next span, a#video-back span{
		padding: 8px 2px 8px 0;
	    width: 35px;
	    height: 35px;
	}
	.sunsquad-section .sunsquad-details-section{
		min-height: 150px;
	}
	.pr-custom{
		padding-right: 10px;
	}
	.sunsquad-location i{
	    font-size: 1.8rem;
	}
	.sunsquad-appearance-img img{
		width: 100%;
	}
	.sunsquad-appearance-img p,.sunsquad-appearance-title{
		font-size: 1.2rem;
	}
	.form-section .panel-heading h2{
		font-size: 1.7rem;
	}
}